body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("img/background.jpg");
    background-size: contain;
    margin: 0;
}

.calc-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    min-height: 456px;
    background-color: rgb(110,110,110);
    border-top: 4px solid rgba(25,25,25,.7);
    border-left: 4px solid rgba(25,25,25,.4);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
}

#display {
    width: 87%;
    min-height: 22%;
    margin: 5%;
    background-color: rgb(255,255,255,.5);
    border: 2px solid rgba(50,50,50,.9);
    border-radius: 5px;
    text-align: right;
}

#upper-display {
   font-size: 20px;
}

#lower-display {
    font-size: 35px;
    font-weight: 400;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 5% 5% 5%;
}

#AC-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

#buttons-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 62px;
    height: 60px;
    margin: 2px;
    font-size: 40px;
    border-bottom: 2px solid rgba(50,50,50,.7);
    border-right: 2px solid rgba(50,50,50,.4);
    border-top: 3px solid rgba(50,50,50,.2);
    border-left: 3px solid rgba(50,50,50,.2);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(200,200,200,.7);
}

#AC {
    background-color: rgb(200,0, 0,.5);
    width: 100px;
}

#AC:hover {
   background-color: rgb(120,0,0,.5);
}

#logo {
    font-size: 20px;
    font-weight: bold;

}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}